<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <style>
        .row {
            margin-left: 0px;
        }


        a.poll:hover {
            background-color: rgb(150, 150, 255);
            text-decoration: none;
        }
    </style>

</head>



<body>
    
    <!--Navigation-->
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link @(ViewBag.ActivePage == "Index" ? "active" : "")" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @(ViewBag.ActivePage == "Create" ? "active" : "")" asp-controller="Home" asp-action="Create">Create a Poll</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @(ViewBag.ActivePage == "List" ? "active" : "")" asp-controller="Home" asp-action="List">List of Polls</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @(ViewBag.ActivePage == "Activity" ? "active" : "")" asp-controller="Home" asp-action="Activity">Voting Activity</a>
            </li>
        </ul>
    </nav>

    <br>

    <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8">
            <!--Main Header-->
            <h1 class="text-center text-uppercase">@ViewBag.Header</h1>
            <hr />

            <br>
            <!--Page-->
            @RenderBody()
        </div>

        <div class="col-lg-2"></div>
    </div>

</body>
</html>
